@font-face {
    font-family: 'zenzai_itacharegular';
    src: url('../fonts/zenzai-itacha/zenzai_itacha-webfont.woff2') format('woff2'),
         url('../fonts/zenzai-itacha/zenzai_itacha-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
